<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496405642130-mtnlllqr17l691tqi08fensihm6po8g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496405642130-mtnlllqr17l691tqi08fensihm6po8g8</string>
	<key>API_KEY</key>
	<string>AIzaSyC3Tmkd1omZfbHgZLzaExHrD61_Rdqidhw</string>
	<key>GCM_SENDER_ID</key>
	<string>496405642130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nb.Winfox</string>
	<key>PROJECT_ID</key>
	<string>winfox-a4436</string>
	<key>STORAGE_BUCKET</key>
	<string>winfox-a4436.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496405642130:ios:2ba77e24a25aa9016e1f4b</string>
</dict>
</plist>